
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

.container {
  display: grid;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: auto;
}

.mainTitle {
  margin: 20px;
  font-size: 50px;
  color: cyan;
}

.beerInfo {
  background: lightgray;
  text-align: center;
  flex-basis: calc(53% - 100px);
  margin: 10px;
  padding: 15px;
}

.allBeers {
  list-style: none;
  padding: 15px;
}

.beerImg {
  width: 20%; 
  height: 20%;
  margin: 10px;
  padding: 15px;
  object-fit: cover;
  overflow: hidden;
}

.beerName {
  font-size: 30px;
  margin: 10px;
}